# Ignore compiled class files
*.class

# Ignore build output
/target/
/bin/
/out/
/build/

# IDE and config files
.classpath
.project
.settings/
/.vscode/
*.log
*.env
*.lst
*.xml
*.jar
pom.properties

# Ignore all txt files except inside CoreJava
*.txt
!CoreJava/**/*.txt

# Ignore Maven wrapper folder except the jar
.mvn/
!.mvn/wrapper/maven-wrapper.jar
